@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2%);
    transform: translateX(2%); } }

@keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2%);
    transform: translateX(2%); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2%);
    transform: translateX(-2%); }
  100% {
    opacity: 1;
    height: auto;
    -webkit-transform: translateX(0%);
    transform: translateX(0%); } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2%);
    transform: translateX(-2%); }
  100% {
    opacity: 1;
    height: auto;
    -webkit-transform: translateX(0%);
    transform: translateX(0%); } }

a:hover {
  text-decoration: none; }

.view__container {
  height: 590px;
  overflow: hidden;
  text-align: center; }

.component__container.container--show {
  -webkit-animation: 1750ms fadeIn ease forwards;
  animation: 1750ms fadeIn ease forwards;
  display: block; }

.component__container.container--hide {
  -webkit-animation: 1750ms fadeOut ease forwards;
  animation: 1750ms fadeOut ease forwards;
  display: none; }

.results--hide {
  display: none; }

/* * * * * * * * * * * *
/* Color Modifications
 * * * * * * * * * * * */
.card__calculator-container {
  height: 601px;
  width: 100%; }

.color-primary--site-theme {
  color: #324d93; }

.bg-primary--site-theme {
  background-color: #324d93;
  color: rgba(255, 255, 255, 0.8); }

/* * * * * * * *
 * Form input(s) modifications
 * * * * * * * */
/* Form input(s) */
.calculator__form .input-group-addon,
.calculator__form .form-control,
.calculator__form .form-control:active,
.calculator__form .form-control:focus {
  color: rgba(255, 255, 255, 0.5); }

.calculator__form .input-group .input-group-addon:active,
.calculator__form .input-group .input-group-addon:focus {
  background-color: rgba(222, 222, 222, 0.3) !important; }

.calculator__form .form-status.form-status--hidden {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 999; }

/* Form buttons */
.calculator__form .btn.btn-primary--site-theme {
  background-color: rgba(222, 222, 222, 0.3);
  color: rgba(255, 255, 255, 0.8); }

.calculator__form .btn.color-primary--site-theme:hover,
.calculator__form .btn.color-primary--site-theme:active,
.calculator__form .btn.color-primary--site-theme:focus {
  color: #324d93; }

.calculator__form .btn.btn-primary--site-theme:hover,
.calculator__form .btn.btn-primary--site-theme:active,
.calculator__form .btn.btn-primary--site-theme:focus {
  background-color: rgba(222, 222, 222, 0.5); }

.calculator__form .width.fullwidth,
.width.fullwidth {
  width: 100%; }
